@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url(../img/default.jpg);
} 

h2 {
  text-align: center;
  color: black;
  font-weight: 500;
}

p {
  font-size: small;
}

/* #logo{
  height: 3rem;
  width: 8rem;
} */

/* .view{
  height: 100%;
  width: 100%;
} */

.search-box {
  top: 30%;
  margin-top: 20px;
}

#view-article {
  margin-top: 20px;
  width: 80%;
  left: 10%
}

#view-article .card-text{
  font-size: medium;
}

.card {
  margin-top: 10px;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.card-subtitle {
  margin: 2px;
}

.card-text{
  margin-top: 10px;
}

.card-title{
  display: flex;
  flex-direction: row;
}

.card-link {
  font-size: small;
  color: blue !important;
  font-style: italic;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 0px;
  width: 250px;
  height: 400;
  margin-right: 0%;
}

.flex-box {
  display: inline-flex;
  flex-direction: row;  
  justify-content: centre;
  width: 80%;
  margin-left: 10%;
}

.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-form{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  
}

.flex-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 3;
}

.search-btn{
  margin-left: 5px;
}

.site-select{
  width: 500px;
}

#profile {
  margin-left: 10%;
  margin-right: 10%;
}

/* TODO: center align .auth-btn 
/* TODO: style bookmark button, increase size, move up 
