{% extends "layout.html" %}

{% block title %}Bookmarks{% endblock %}

{% block content %}

<div class="view">
  <div id="bookmarks" class="card">
    <div class="card-body">
      <!-- <i class="fa fa-user-circle-o" aria-hidden="true" ></i> -->
      <h5 class="card-title d-flex flex-row">{{ user.username | upper }}</h5>
      <h6 class="card-text" id="num"></h6>
      <!-- loop through and render all user's bookmark's onto the page  -->
      {% for i in bookmarks%}
      <div id="article" class="card">
        <div class="card-header">
          CEFR: {{ i.cefr }}
        </div>
        <div class="card-body">
          <div class="card-title d-flex flex-row">
            <a href="{{ url_for('view_article', article_id=i.id) }}">
              <h5>{{ i.title }}</h5>
            </a>
            <button id="{{ i.id }}" class="btn bookmark-btn ml-auto" type="submit"
              onclick="bookmark({{ i.id }}, {{ user.id }})"><i class="fa fa-bookmark"></i></button>
          </div>
          <a href="{{ i.url }}" class="card-link card-subtitle text-muted">{{ i.url }}</a>
          <p class="card-text">{{ i.text[:197] }}...</p>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
</div>


{% endblock %}

