{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="view">
  <div class="search-box">
    <h2>French Education Resource Browser</h2>
    <form method="post">
      <div class="form-group query-form">
        <div class="input-group">
          <input type="text" id="query" class="form-control" placeholder="Search..." required>
        </div>
        <div class="form-group">
          <select class="form-control custom-select" id="n-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
        <button id="submit-btn" class="btn btn-outline-light search-btn" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div id="results-box"></div>
</div>


{% endblock %}
