{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="view">
  <div class="search-box">
    <h2>Login</h2>
    <form name="query-form" method="post" >
      <div class="form-group auth">
        <div class="input-group">
          <input type="text" name='username' class="form-control" placeholder="Username" required>
        </div>
        <div class="input-group">
          <input type="text" name='password' class="form-control" placeholder="Password" required>
        </div>
        <div>
        <button class="btn btn-outline-light search-btn" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
