{% extends "layout.html" %}

{% block title %}View Article{% endblock %}

{% block content %}

<div class="view">
  <div id="view-article" class="card">
    <div class="card-header">
      CEFR: {{ article.cefr }}
    </div>
    <div class="card-body d-flex flex-column">
      <div class="card-title d-flex flex-row">
        <h5>{{article.title}}</h5>
        <!-- if user is logged in display bookmark icon, otherwise don't -->
        {% if session['user_id'] %}
        <button id={{ article_id }} class="btn bookmark-btn ml-auto" type="submit"
          onclick='bookmark({{article_id}}, {{session["user_id"]}})'><i class="fa fa-bookmark-o"></i></button>
        {% endif %}
      </div>
      <h6 class="card-subtitle mb-2 text-muted"> Author : {{ article.author}}</h6>
      {% if article.published is not none %}
      <h6 class="card-subtitle mb-2 text-muted"> Published : {{ article.published.strftime("%d %B, %Y") }}</h6>
      {% else %}
      <h6 class="card-subtitle mb-2 text-muted"> Published : Unknown</h6>
      {% endif %}
      <a href={{article.url}} class="card-link card-subtitle text-muted">{{article.url}}</a>
      <h6 class="card-subtitle mb-2">(Highlight text to see translation)</h6>
      <p class="card-text">{{article.text}}</p>
    </div>
  </div>
</div>

{% endblock %}

