{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">XXX
  </a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav ml-auto">
      <li class "nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class "nav-item">
        <a class="nav-link" href="/">Register</a>
      </li>
      <li class "nav-item">
        <a class="nav-link" href="/">Login</a>
      </li>
      <li class "nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
